@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Merriweather+Sans:wght@800&display=swap');

.NavButton {

    color: black;
    background-color: #FCDE67;
    text-align: center;
    font-family: Inter;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 8px;
    padding-bottom: 8px;

    /* float: right; */
    margin-right: 20%;


}